{% extends 'FooterHeader.html.twig' %}
{%block s%}
<title>
Espace Evenement
</title>
{%endblock%}

{% block body %}

<main>
<article>

      <section class="hero" id="home" >
    
<h1>Espace Evenement</h1>
 </section>
</main>
</article>

{% endblock %}
